<section class="feature-post popup-gallery">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h2 class="title center">Featured Projects</h2></div>
    <div class="row">
      <div class="col-sm-4">
        <article class="feature">
          <p class="image"><a href="images/pages/img_feature01.jpg" class="popup" data-source="images/pages/img_feature01.jpg"><img src="images/pages/img_feature01.jpg" alt="feature post"></a></p>
          <h3><a href="blog-single.html">Why our consulting</a></h3>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="feature">
          <p class="image"><a href="images/pages/img_feature02.jpg" class="popup" data-source="images/pages/img_feature02.jpg"><img src="images/pages/img_feature02.jpg" alt="feature post"></a></p>
          <h3><a href="blog-single.html">Global consumer insights</a></h3>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="feature">
          <p class="image"><a href="images/pages/img_feature03.jpg" class="popup" data-source="images/pages/img_feature03.jpg"><img src="images/pages/img_feature03.jpg" alt="feature post"></a></p>
          <h3><a href="blog-single.html">Thought Leadership</a></h3>
        </article>
      </div>

    </div>
  </div>
</div>
</section>
