<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-info">
          <p class="footer-logo"><img src="images/common/logo02.png" alt="Consultant"></p>
          <p class="description">Lorem ipsum dolor sit consectetur adipiscing elit <br>sed do eiusmod tempor incididunt ut labore et <br>dolore magna veniam aliqua.</p>
          <p class="phone">2700 - 345 - 9889 <span>support24.7@domain.com</span></p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="footernav">
          <nav class="footernav01">
            <h3>Follow us</h3>
            <ul class="followus">
              <li><a href="#"><i class="ion-social-facebook"></i>Facebook</a></li>
              <li><a href="#"><i class="ion-social-twitter"></i>Twitter</a></li>
              <li><a href="#"><i class="ion-social-googleplus"></i>Google Plus</a></li>
              <li><a href="#"><i class="ion-social-linkedin"></i>Linkedin</a></li>
              <li><a href="#"><i class="ion-social-youtube"></i>Youtube</a></li>
             </ul>
          </nav>
          <nav class="footernav02">
            <h3>Our services</h3>
            <ul class="ourservices">
              <li><a href="#">Accumulation</a></li>
              <li><a href="#">Taxation</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Estate Planning</a></li>
              <li><a href="#">Business Planning</a></li>
             </ul>
          </nav>
          <nav class="footernav03">
            <h3>Business hours</h3>
            <span>Our suppoer available to help you 24 hours a day, seven days week</span>
            <p>Monday-Saturday: ............... 8.00-18.00</p>
            <p>Sunday: ............................................ Closed</p>
            <p>Calendar Events: .......................... Closed</p>
          </nav>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <p class="copyright">© 2016 Designed by NthPsd. All rights reserved</p>
        </div><!-- /.col-md-10 -->
        <div class="col-sm-2">
          <p class="totop"><a href="#">Back Top<img src="images/common/icon-totop.png" alt="back top"></a></p>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
</footer>






<!-- OLD FOOTER

<div class="container">
  <footer class="footer">
    <p>&copy; Company {{ now | localized_date: '%Y' }} </p>
  </footer>
</div>

--->
