<section class="news-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h2 class="title center">News Update</h2></div>
      <div class="col-sm-6">
        <article class="post clearfix">
          <div class="media">
            <p class="image">
              <img src="images/pages/img_lasted_post01.jpg" alt="image">
            </p>
            <p class="date">24<span>Mar</span></p>
          </div><!-- /.media -->
          <h2 class="title-post">
            <a href="blog-single.html">Seven weeks working ‘pro bono’ with a charity</a>
          </h2><!-- /.title-post -->
          <div class="entry-post">
            <p>In your life, you may have many times facing financial issues. It’s good if you know how to handle it by yourself and have enough</p>
          </div><!-- /.entry-post -->
          <div class="readmore">
            <p><a href="blog-single.html">Continue Reading</a></p>
          </div>
        </article>
      </div>
      <div class="col-sm-6">
        <article class="post clearfix">
          <div class="media">
            <p class="image">
              <img src="images/pages/img_lasted_post02.jpg" alt="image">
            </p>
            <p class="date">24<span>Mar</span></p>
          </div><!-- /.media -->
          <h2 class="title-post">
            <a href="blog-single.html">Seven weeks working ‘pro bono’ with a charity</a>
          </h2><!-- /.title-post -->
          <div class="entry-post">
            <p>In your life, you may have many times facing financial issues. It’s good if you know how to handle it by yourself and have enough</p>
          </div><!-- /.entry-post -->
          <div class="readmore">
            <p><a href="blog-single.html">Continue Reading</a></p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
