<div class="tp-banner-container">
  <div class="tp-banner" >
    <ul>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
        <img src="images/pages/img_slider01.jpg"  alt="slider_1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        <div class="tp-caption 2 sft tp-resizeme"
          data-x="center" data-hoffset="-240"
          data-y="center" data-voffset="-99"
          data-speed="300"
          data-start="500"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">
          <h1>Helping your business<br>build and grow</h1>
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption text1 sft tp-resizeme"
          data-x="center" data-hoffset="-363"
          data-y="center" data-voffset="26"
          data-speed="300"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">With over 10 years of experience helping<br>businesses to find comprehensive solutions
        </div>
        <div class="tp-caption btn01 sft tp-resizeme"
          data-x="center" data-hoffset="-506"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Our Company</a>
        </div>
        <div class="tp-caption btn02 sft tp-resizeme"
          data-x="center" data-hoffset="-345"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Get in Touch</a>
        </div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
        <img src="images/pages/img_slider02.jpg"  alt="slider_2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        <div class="tp-caption 2 sft tp-resizeme"
          data-x="center" data-hoffset="-240"
          data-y="center" data-voffset="-99"
          data-speed="300"
          data-start="500"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">
          <h1>Helping your business<br>build and grow</h1>
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption text1 sft tp-resizeme"
          data-x="center" data-hoffset="-363"
          data-y="center" data-voffset="26"
          data-speed="300"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">With over 10 years of experience helping<br>businesses to find comprehensive solutions
        </div>
        <div class="tp-caption btn01 sft tp-resizeme"
          data-x="center" data-hoffset="-506"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Our Company</a>
        </div>
        <div class="tp-caption btn02 sft tp-resizeme"
          data-x="center" data-hoffset="-345"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Get in Touch</a>
        </div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
        <img src="images/pages/img_slider03.jpg"  alt="slider_3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        <div class="tp-caption 2 sft tp-resizeme"
          data-x="center" data-hoffset="-240"
          data-y="center" data-voffset="-99"
          data-speed="300"
          data-start="500"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">
          <h1>Helping your business<br>build and grow</h1>
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption text1 sft tp-resizeme"
          data-x="center" data-hoffset="-363"
          data-y="center" data-voffset="26"
          data-speed="300"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300">With over 10 years of experience helping<br>businesses to find comprehensive solutions
        </div>
        <div class="tp-caption btn01 sft tp-resizeme"
          data-x="center" data-hoffset="-506"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Our Company</a>
        </div>
        <div class="tp-caption btn02 sft tp-resizeme"
          data-x="center" data-hoffset="-345"
          data-y="center" data-voffset="140"
          data-speed="300"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"><a href="#">Get in Touch</a>
        </div>
      </li>
    </ul>
  </div>
</div>
