---
title: Home page
published: true
handle: home
---
{% extends 'layouts/simple' %}

{% block content/main %}



<br />
<div class="row">
<ul>
{% for products in contents.products %}
  <li>{{ products.name }}</li>
  <li>{{ products.description }}</li>
  <li>{{ products.brands.name }}</li>
{% endfor %}
</ul>
</div>

{% endblock %}
